@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

* {
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  width: 900px;
}

header nav {
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px black solid;

  background-color: transparent;
  color: purple;
}

nav h2 {
  display: inline;
}

main {
  margin-top: 100px;
}

.button {
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
}

.button-primary {
  background-color: var(--accent-colour);
  color: var(--text-color);
  border: 2px var(--accent-colour) solid;
  transition: all 0.3s;
}

.button-primary:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-secondary {
  background-color: transparent;
  border: 2px var(--accent-colour) solid;
  transition: all 0.3s;
}

.button-secondary:hover {
  background-color: var(--accent-colour);
  cursor: pointer;
}

nav .user-controls {
  float: right;
}

.user-controls .nav-item {
  margin: 0 10px;
}

.user-controls .nav-item:hover {
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

.times-container {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.time {
  padding: 10px;
  border: 1px white solid;
  border-radius: 5px;
}

.time:hover {
  background-color: #eff6ee;
  color: navy;
  cursor: pointer;
}

.book-button {
  margin-top: 10px;
  padding: 20px;
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.booking-controls {
  float: right;
}
