{% extends "index.html.jinja" %}

{% block css %}
    <link rel="stylesheet" href="/static/stylesheets/admin.css">
{% endblock %}

{% block main %}
<main>
{% with messages = get_flashed_messages() %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    <section class="manage-users">
        <h1>Users.</h1>
        <a href="/user/new">Add User</a>
        <ul>
        {% for user in users %}
            <li class="user-item">
                {{ user.name }}
                {% if user.name == session.get("user") %}
                    (You)
                {% endif %}
                {% if user.admin %}
                (Admin)
                {% endif %}
                <a class="delete-button" href="/user/delete/{{user.user_id}}">Delete</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    <section class="manage-bookings">
        <h1>Bookings.</h1>
        <ul class="bookings">
        {% for booking in bookings %}
            <li class="booking">
                <div class="booking-owner">
                    {{ booking.owner_id }}
                </div>
                <p class="booking-time">Date: {{ booking.date }}</p>
                <div class="booking-controls">
                    <a class="view-button" href="/booking/{{booking.booking_id}}">View</a>
                    <a class="delete-button" href="/booking/delete/{{booking.booking_id}}">Delete</a>
                </div>
            </li>
        {% endfor %} 
        </ul>
    </section>
    {% endwith %}
</main>
{% endblock %}