
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HNCV Showroom - Book</title>  
    <link rel="stylesheet" href="/static/stylesheets/main.css"/>
    <!-- Plugin CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/themes/light.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/themes/dark.min.css" rel="stylesheet">
    <!-- Plugin JS -->
    <script src="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.js" defer></script>
    <script src="/static/js/calendar.js" defer></script>
    {% block css %}
        
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block navbar %}
        <header>
            <nav>
                <h2 class="branding">
                    <a href="/">HNCV Showroom</a>
                </h2>

                <div class="user-controls">
                    {% if user %}
                    <a href="/logout" class="nav-item">Logout</a>
                    <a href="/user/{{user.user_id}}" class="nav-item">{{user.name}}</a>
                    {% if user.admin == True%}
                        <a href="/admin" class="nav-item">Admin</a>
                    {% endif %}
                    {% else %}
                    <a class="button button-primary" href="/login" class="nav-item">Login</a>
                    {% endif %}
                </div>

            </nav>
        </header>
        {% endblock %}
        {% include 'includes/messages.html.jinja'%}
        {% block main %}
        <section class="calendar-wrapper">
            <div class="blurb">
                <h1>Book a slot in our showroom.</h1>
                <p>The new way of showing things. Simply choose a date, then a time
                then click <span>"Book Now"</span>.</p>
            </div>
            <div id="calendar"></div>
            {# <button id="book" class="book-button button button-secondary">Book</button> #}
        </section>
        
        {% endblock%}
    </div>  
</body>
</html>