{% extends "index.html.jinja" %}

{% block css %}
    <link rel="stylesheet" href="/static/stylesheets/user.css">
    <link rel="stylesheet" href="/static/stylesheets/admin.css">
{% endblock %}

{% block main %}
<main>
    <h1>Hello, {{ user.name }}</h1>
    <a href="/change-password" class="button">Update password</a>
    <h3>Here are your bookings.</h3>
    <section class="user-bookings">
    <ul class="bookings">
        {% for booking in bookings %}
        <li class="booking">
            {{ booking.date}}

        <div class="booking-controls">
            <a class="view-button" href="/booking/{{booking.booking_id}}">View</a>
            <a class="delete-button" href="/booking/delete/{{booking.booking_id}}">Delete</a>
        </div>    
        </li>
        {% endfor %}
    </ul>
    </section>
</main>
{% endblock %}

